@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Ponomar&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-besley: "Besley", serif; 
  --font-libertinus: "Libertinus", serif; 
}h